body img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    filter: brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

